*{
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
    color: rgb(65, 64, 64);
    }
.container-body{
    left: 0;
    right: 0;
    /* border: .2rem solid purple; */
}
.order-body{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 166, 0, 0); */
    /* border:black .25rem solid; */
    margin: auto;
    text-align: center;
    width: 100%;
    /* display: flex; */
    padding: 5rem;
    left: 0;
    right: 0;
}
.order-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.order-img img{
    border-radius: .5rem;
    /* height: 50vh; */
}
.order-etc{
    /* border:black .25rem solid; */
    padding: .5rem;
    width: 50%;
    margin: auto;
}
.actions{
    /* border:#eee .25rem solid; */
    padding: 1rem;
}
.store-details{
    background-color: rgba(242, 238, 238, 0.548);
}
.store-name{
    font-size: 2.25rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-name span:first-child{
    margin-left: 1rem;
}
.silver{
    margin-left: 2rem;
    color:goldenrod;
    font-size: 4rem;
}
.order-details{
    font-weight: 700;
    font-size: 3.5rem;
    border-bottom: .15rem solid gray;
    border-bottom-width: inherit;
    margin: auto;
}
.price{
    background-color: rgb(255, 221, 0);
    padding: 1rem;
}
button{
    background-color: rgb(255, 221, 0);
    outline: none;
    border: none;
    border-radius: .25rem;
    padding:.5rem 2rem;
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 650;
    color: rgb(81, 80, 80);
}
.order-details-paragraph{
    /* border:#eee .25rem solid; */
    font-weight: 500;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 2rem;
}
.other-details{
     border:#eee .25rem solid ;
     height: fit-content;
     width: 100%;
     margin: auto;
     border-radius: .25rem;
     padding: 1rem;
     /* box-shadow: 0 .1rem .5rem .1rem  grey; */
}
label {
    font-size: 1.25rem;
}
select {
    font-size: 1.5rem;
    border: none;
    padding: .5rem 1rem;
    margin-left: 1rem;
    outline: none;
    color: tan;
}
option {
    padding: 1.5rem;
    font-size: 1.75rem;
}
.action-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}
.action-group input {
    height: 3.5rem;
    width: 2rem;
    text-align: center;
    background-color:white;
    outline: none;
    border: none;
    font-size: 2rem;
}
span .material-symbols-outlined{
    height: 100%;
    padding: 1rem;
}
.proceed{
    background-color: rgba(255, 221, 0, 0.484);
    box-shadow: 0 .1rem .5rem .1rem  rgba(182, 182, 182, 0.584);
    font-size: 2rem;
    font-weight: 700;
    width: 40%;
    margin: auto;
    padding: 1rem;
}


.store-reviews{
    border:#eee .25rem solid ;
    /* padding: 1rem; */
}
.product-rating-heading{
    font-size: 1.5rem;
}
.store-rate{
    background-color: rgb(228, 228, 228);
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem;
    color: grey;
    font-weight: 700;
}
.customer-review{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
}
.star{
    color: goldenrod;
    margin-right: -1rem;
}
.customer-name{
    font-size: 1.75rem;
    font-weight: 500;
}
.customer-comments{
    font-size: 1.25rem;
}
.more-comment{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 1.25rem;
    background-color: rgb(228, 228, 228);
}
/*      */
.user-action{
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    gap: 3.5rem;
    border-radius: .5rem;
    padding: .5rem;
    padding-inline: 2rem;
    background-color: rgb(255, 221, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 .1rem .5rem .1rem  grey;
}
.inner{
    text-align: center;
}
.balance{
    font-size: 2.5rem;
    font-weight: 600;
    
    align-items: center;
    justify-content: center;
}
.orders , .messages,.profile, .balance{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(81, 80, 80);
}
@media only screen and (max-width: 1000px) {
    .order-body{
        margin-top: 5rem;
        display: block;
        width: 98vw;
        padding: 0;
    }
    .post-container{
        /* width: 98vw; */
        /* border: .2rem solid red; */
        margin: auto;
        display: block;
    }
    .order-etc{
        width: 98%;
        margin: auto;
        /* border: .2rem solid red; */
    }
    .order-details{
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
    }
    .user-action{
        /* width: 100vw; */
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
        padding-inline: 0;
       
        
    }
    .order-img{
        /* padding: 2rem; */
        width: fit-content;
        margin: auto;
        /* border: .2rem solid red; */
    }
    .order-img img{
        /* border: .2rem solid red; */
        width: 95vw;
        border-radius: 5rem;
        margin-top: 1rem;
    }
    .order-body{
        padding: 0;
    }
    .orders a, .messages,.profile, .balance{
        font-size: 1.25rem;
        left: 0;
        
    }
    .order-details {
        width: fit-content;
        /* font-size: 1rem; */
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        /* flex-direction: column; */
    }
    .btns{
        /* border: .25rem solid tomato; */
        display: flex;
        background-color: rgba(242, 238, 238, 0.548);
    }
    .price{
        width: fit-content;
        margin: auto;
    }
    .order-details-paragraph {
        display: block;
        width: 100%;
        height: fit-content;
        padding-bottom: 0;
        font-size: 1.5rem;
        /* border: .2rem solid tomato; */
    }
    .actions {
        display: block;
        height: fit-content;
    }
    button{
        display: block;
        /* border: .2rem solid tomato; */
        
    }
    .action-group{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}
